$baseFontSize: 15px;
$tablets: 768px;
$phones: 480px;
$phones-small: 320px;


@mixin tablets {
  @media (max-width: $tablets) {
    @content;
  }
}


@mixin phones {
  @media (max-width: $phones) {
    @content;
  }
}

@mixin phones-small {
  @media (max-width: $phones-small) {
    @content;
  }
}
