.benefits {
  display: flex;
  @include phones {
    display: flex;
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  &:before {
    content: url(./img/circles.png);
    position: absolute;
    top: 4rem;
    right: 0;
    transform: translateX(50%);
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    
    &:before {
      display: none;
    }
  }
}

.benefit__title {
  font-size: 1.7rem;
  font-weight: 700;
  color: #292929;
  
}

.benefit__desc {
  font-size: 1rem;
  line-height: 1.6rem;
}