.benefit {
  text-align: center;
  
  @include phones {
    display: flex;
    text-align: left;
  }
}

.benefits__img {
  display: inline-flex;
  width: 9rem;
  height: 9rem;
  position: relative;
  background: #4b4b4e50;
  border-radius: 50%;
  overflow: hidden;

  @include phones {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.benefit__icon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}