.button {
  background: rgba(254, 219, 63, 1);
  padding: 1.4rem 3rem;
  border-radius: 2rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  font-weight: 800;
  border: none;
  outline: none;

  &:focus { 
    background-color: #ffd517;
  }

  &:hover {
    background-color: #ffd517;
  }

  &--transparent {
    background-color: transparent;
    color: #fff;
  }

  &--transparent:hover {
    background-color: transparent;
    color: #ffd517;
  }
}

