.features {
  display: flex;
}

.feature {
  display: flex;
}

.features__item {
  margin-right: 2.7rem;

  &:last-child {
    margin-right: 0;
  }
}

.feature__icon {
  width: 3.2rem;
  margin-right: 0.4rem;
}

.features__text {
  font-weight: 700;
  line-height: 1.3rem;
  width: 6rem;
}

