.features {
  display: flex;
  flex-wrap: wrap;
  gap: 2.7rem;

  @include tablets {
    justify-content: center;
  }
}

.feature {
  display: flex;
}


.feature__icon {
  width: 3.2rem;
  margin-right: 6px;
}

.features__text {
  font-weight: 700;
  line-height: 1.3rem;
  width: 6rem;
}

