.order-section {
  background: url("../../img/form-fon.jpg") center center no-repeat;
  background-size: contain;
}

.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 19%;
  }

  @include phones {
    flex-direction: column;
    padding: 0 10%;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.2rem;

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1.1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.2rem;

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6rem;
  border: 0.2rem solid transparent;
  border-radius: 0.2rem;

  &:focus {
    border-color: #FEDB3F;
    outline: none;
  }

  &--textarea {
    height: 9.6rem;
    resize: none;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 1rem;
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  position: relative;

  &__checkbox {
    .radio__visible {
      border-radius: 0;
      &:before {
        background: url("../../img/vic.png") center no-repeat;
      }
    }
  }
}

.radio__elem {
  appearance: none;
  position: absolute;

  &:checked ~ .radio__visible {
    &:before {
      display: block;
    }
  }

}

.radio__visible {
  width:  1.5rem;
  height:  1.5rem;
  position: relative;
  border-radius: 50%;
  background: #fff;

  &:focus {
    outline: #FEDB3F;
  }

  &:before {
    content: "";
    background: #FEDB3F;
    width:  1rem;
    height:  1rem;
    border-radius: 50%;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

.radio__title {
  margin-left: 0.5rem;
}

.form__buttons {
  margin-top: 3rem;
}