.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 7rem;
}

.header__col {
  display: flex;
  align-items: center;
}

.logo__header {
  margin-right: 1.6rem;
  
}

.phone-number {
  display: flex;

  &__icon {
    Width: 1rem;
    Height: 1rem;
    align-self: center;
    margin-right: 0.5rem;
    flex-shrink: 0;
  }
  
  &__text {
    font-weight: 700;
    font-size: 1.5rem;
    font-style: normal;
    white-space: nowrap;
  }
}

.header__phone-number {
  @include tablets {
    display: none;
  }

  @include phones {
    display: none;
  }
}
