.hero {
  background: url("../../img/header-fon.jpg") center center no-repeat;
  background-size: contain;
  height: 100vh;
  min-height: 650px;
  color: #fff;

  @include tablets {
    background: url("../../img/header-fon800.jpg") center center no-repeat;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 45px 0 84px;
  }

  &__title-section {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    align-items: start;
    margin-bottom: 5rem;
    margin-top: auto;
  }

  &__icon-section {
    margin-top: auto;
  }
}

.hello__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  text-transform: uppercase;
  margin-bottom: -3rem;
}

.hello__text {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;

  @include tablets {
    padding: 0 25%;
  }

  @include phones {
    padding: 0 15%;
  }
}



