.hello__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
  margin-bottom: 18px;
  margin-top: auto;

}

.hello__text {
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 58px;
}

