.player__elem {
  height: 405px;
  width: 660px; 

  @include tablets {
    height: 351px;
    width: 594px; 
  }

  @include phones {
    height: 233px;
    width: 394px; 
  }

}

.player__controls {
  width: inherit;
  height: 35px;
  margin-top: -1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404040;

  @include tablets {
    margin-top: -2%;
  }
}

.player-section__container {
  display: flex;
  justify-content: center;
}
 
.player__start {
  background: inherit;
  border: none;
  width: 24px;
  height: 20px;
  margin-left: 3%;
  cursor: pointer;
}

.player__start-button {
  object-fit: cover;
}

.player__playback-range {
  width: 90%;
  margin-left: 2%;
}

.player__duration {
  display: flex;
  justify-content: space-between;
  width: 24%;
  margin-right: 2%;
}

.player__playback {
  display: flex;
  flex: 1;
  align-items: center;
}

.player__volume-level {
  width: 80%;
}


// &.paused {
//   .player__start {
//     width: 14px;
//     height: 22px;
//     bottom: none;

//     &:after,
//     &:before {
//       content: "";
//       display: block;
//       position: absolute;
//       width: 5px;
//       top: 0;
//       bottom: 0;
//       background: #626262;
//     }

//     &:after {
//       right: 0;
//     }

//     &:before {
//       left: 0;
//     }
//   }
// }