.products-menu-section {
  background: url("../../img/slide1.jpg") center center/cover no-repeat;
  position: relative;
  color: #fff;
}

.products-menu-section-title {
  color: #fff;
  position: absolute;
  top: 30px;
  left: 40px;
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;


  &__content {
    background: rgba(47, 50, 52, 0.9);
    width: 0;
    position: relative;
    overflow: hidden;
    transition: width .7s;
    flex: 1;
  }

  &__container {
    padding: 40px 73px 45px 26px;
  }

  &__title {
    position: relative;
    max-width: 5rem;
  }
}

.products-menu-text {
  position: absolute;
  bottom: 1%;
  left: 4%;
  font-size: 48px;
  font-weight: 700;
  writing-mode: vertical-lr; 
  text-orientation: upright;
}

.products-menu-image {
  height: 100%;
  object-fit: cover;
}

.products-menu__item {
  display: flex;
}

