@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700&display=swap");
.hero {
  background: url("../../img/header-fon.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 650px;
  color: #fff;
}
@media (max-width: 768px) {
  .hero {
    background-image: url("../../img/header-fon800.jpg");
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 45px 0 84px;
}
.hero__title-section {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin-top: auto;
}
@media (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    min-width: 550px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .hero__title-section {
    width: 100%;
    min-width: 320px;
    align-items: center;
    text-align: center;
  }
}
.hero__icon-section {
  margin-top: auto;
}

.hello__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  text-transform: uppercase;
  margin-top: 0;
}
@media (max-width: 480px) {
  .hello__title {
    font-size: 2.66rem;
  }
}
@media (max-width: 320px) {
  .hello__title {
    font-size: 2rem;
  }
}

.hello__text {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .hello__text {
    padding: 0 25%;
  }
}
@media (max-width: 480px) {
  .hello__text {
    padding: 0 15%;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  font-style: normal;
  color: rgb(102, 102, 102);
  line-height: 1.42;
  background: #fff;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.1;
}

*, ::before, ::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.maincontent {
  height: 100%;
  transform: translateY(0%);
  will-change: transform;
}

.wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.wrapper__content {
  flex: 1;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 950px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4.5rem;
}

.header__col {
  display: flex;
  align-items: center;
}

.logo__header {
  margin-right: 1.6rem;
}

.phone-number {
  display: flex;
}
.phone-number__icon {
  Width: 1rem;
  Height: 1rem;
  align-self: center;
  margin-right: 0.5rem;
  flex-shrink: 0;
}
.phone-number__text {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: normal;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .header__phone-number {
    display: none;
  }
}
@media (max-width: 480px) {
  .header__phone-number {
    display: none;
  }
}

.button {
  background: rgb(254, 219, 63);
  padding: 1.4rem 3rem;
  border-radius: 2rem;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: 800;
  border: none;
  outline: none;
  display: inline-block;
}
.button:focus {
  background-color: #ffd517;
}
.button:hover {
  background-color: #ffd517;
}
.button--transparent {
  background-color: transparent;
  color: #fff;
}
.button--transparent:hover {
  background-color: transparent;
  color: #ffd517;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 2.7rem;
}
@media (max-width: 768px) {
  .features {
    justify-content: center;
  }
}

.feature {
  display: flex;
}

.feature__icon {
  width: 3.2rem;
  margin-right: 6px;
}

.features__text {
  font-weight: 700;
  line-height: 1.3rem;
  width: 6rem;
}

.fixed-menu {
  position: fixed;
  top: 14.6rem;
  right: 11%;
}

.fixed__item {
  margin-bottom: 0.3rem;
}
.fixed__item--active .fixed__link {
  border-color: #fff;
}

.fixed__link {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: 0.1rem solid transparent;
  display: block;
  position: relative;
}
.fixed__link:before {
  content: "";
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu--shadowed .fixed__link:before {
  background: #000;
}
.fixed-menu--shadowed .fixed__item--active .fixed__link {
  border-color: #000;
}

.section {
  height: 100%;
  min-height: 46rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.order-section {
  color: #fff;
}

.headline {
  text-align: center;
  margin-bottom: 2.8rem;
}

.headline__title {
  margin-bottom: 0.9rem;
}

.headline__subtitle {
  padding: 0 26%;
}
@media (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits {
  display: flex;
}
@media (max-width: 480px) {
  .benefits {
    display: flex;
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.26rem;
  }
}
.benefits__item:before {
  content: url(../../img/circles.png);
  position: absolute;
  top: 4rem;
  right: 0;
  transform: translateX(50%);
}
@media (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit__title {
  font-size: 1.7rem;
  font-weight: 700;
  color: #292929;
}

.benefit__desc {
  font-size: 1rem;
  line-height: 1.6rem;
}

.benefit {
  text-align: center;
}
@media (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefits__img {
  display: inline-flex;
  width: 9rem;
  height: 9rem;
  position: relative;
  background-color: rgb(242, 245, 244);
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
@media (max-width: 480px) {
  .benefits__img {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
@media (max-width: 320px) {
  .benefits__img {
    width: 6rem;
    height: 6rem;
  }
}

.benefit__icon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.reviews__display {
  background: #F8FAF9;
  padding: 3.2rem 3rem 2.3rem;
}

.reviews__display-inner {
  display: flex;
}
@media (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 17.6rem;
  height: 16.86rem;
}
@media (max-width: 768px) {
  .reviews__avatar {
    width: 8.8rem;
    height: 8.66rem;
  }
}
@media (max-width: 480px) {
  .reviews__avatar {
    width: 6.6rem;
    height: 6.8rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__title {
  font-size: 1.7rem;
  font-weight: 700;
  color: #292929;
  margin-bottom: 0.9rem;
}

.reviews__text {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.reviews__author {
  font-size: 1.2rem;
  font-weight: 500;
  color: #292929;
}

.reviews__content {
  flex: 1;
  padding-left: 40px;
  padding-right: 140px;
  padding-bottom: 25px;
}
@media (max-width: 768px) {
  .reviews__content {
    padding: 0 40px;
  }
}

.reviews__list {
  display: flex;
}

.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}

.interactive-avatar {
  width: 5rem;
  height: 5.2rem;
  border: 0.4rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive-avatar.active {
  border-color: #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-section {
  background: linear-gradient(rgba(121, 111, 111, 0.815), rgba(0, 0, 0, 0.8)), url("../../img/form-fon.jpg") center center no-repeat;
  background-size: cover;
}

.order__title {
  color: #fff;
}
@media (max-width: 768px) {
  .order__title {
    margin-bottom: 3px;
  }
}

.form {
  display: flex;
}
@media (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 5%;
  }
}
@media (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.2rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .form__row {
    margin-bottom: 5px;
  }
}

.form__block {
  flex: 1;
  margin-right: 18px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 7px 9px;
  border: 0.2rem solid transparent;
  border-radius: 0.2rem;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
.form__input--textarea {
  height: 9.6rem;
  resize: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 15px;
}
@media (max-width: 480px) {
  .form__controls {
    justify-content: center;
    margin-bottom: 0;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}
@media (max-width: 480px) {
  .radio {
    margin-bottom: 10px;
  }
}
.radio__checkbox .radio__visible {
  border-radius: 0;
}
.radio__checkbox .radio__visible:before {
  background: url("../../img/vic.png") center no-repeat;
}

.radio__elem {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.radio__elem:focus ~ .radio__visible {
  border: 1px solid #FEDB3F;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  background: #FEDB3F;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  margin-left: 7px;
}

.form__buttons {
  margin-top: 45px;
}

.section__map {
  position: relative;
  background-size: cover;
}

.menu {
  margin: 0 30px;
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 1.4rem;
       column-gap: 1.4rem;
}
.menu__item {
  font-weight: 700;
  font-size: 1.1rem;
}
.menu__link {
  white-space: nowrap;
}

.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  background-color: inherit;
  border: none;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  width: 22px;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  color: #292929;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
@media (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
}
.footer__phone-number-text {
  font-weight: 400;
}

.social {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 0.93rem;
       column-gap: 0.93rem;
}

.svg-icon {
  display: flex;
  height: 1.33rem;
  width: 1.33rem;
  fill: #B3B3B3;
}
.svg-icon:hover {
  fill: #292929;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
}
.fullscreen-menu__close {
  position: absolute;
  top: 42px;
  right: 42px;
}
.fullscreen-menu--opened {
  left: 0;
}

.menu--column__list {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.menu--column__link {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #fff;
  text-decoration: none;
}
.menu--column--fz-big {
  font-size: 2.4rem;
  line-height: 4.8rem;
}

.close-svg {
  height: 20px;
  width: 20px;
  fill: rgb(156, 135, 135);
}

.button-full-close {
  background-color: inherit;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

.fullscreen-menu--opened .menu {
  display: flex;
}

.bx-wrapper {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.products__list-wrapper {
  overflow: hidden;
  position: relative;
}
.products__list {
  display: flex;
}
.products__item {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 80px;
       column-gap: 80px;
  width: 100%;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .products__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.products__preview {
  width: 100%;
  max-width: 397px;
}
@media (max-width: 768px) {
  .products__preview {
    max-width: 278px;
    max-height: 288px;
    margin-bottom: 80px;
  }
}
@media (max-width: 480px) {
  .products__preview {
    max-width: 158px;
    max-height: 168px;
    margin-bottom: 80px;
  }
}
.products__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  padding-bottom: 85px;
}
@media (max-width: 768px) {
  .products__info {
    padding-bottom: 0;
    text-align: center;
  }
}
.products__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.86rem;
  color: #292929;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .products__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
  }
}
.products__desk {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.46rem;
}
.products__weight {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.46rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 52px;
       column-gap: 52px;
}
.products__weight-item {
  display: flex;
  flex-direction: column;
}
.products__weight-count {
  font-weight: 700;
  color: #292929;
}
.products__price {
  font-size: 4rem;
  font-weight: 300;
  line-height: 4rem;
  color: #292929;
}
.products__footer {
  display: flex;
  align-items: center;
  -moz-column-gap: 57px;
       column-gap: 57px;
}

.products__blocked {
  display: block;
}

.products__drop-icon {
  width: 90px;
  height: 90px;
  background-image: url("../../img/click.png");
  position: relative;
}
.products__drop-icon:hover .products__drop-menu {
  opacity: 1;
}
@media (max-width: 768px) {
  .products__drop-icon {
    display: none;
  }
}

.products__drop-menu {
  min-width: 273px;
  width: 100%;
  height: 291px;
  background-color: #B3B3BF;
  position: absolute;
  padding: 28px 25px 30px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  left: 100%;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: rgb(0, 0, 0);
  opacity: 0;
}

.products__drop-menu-item {
  display: flex;
  justify-content: space-between;
}

.products__drop-menu-img {
  padding-right: 20px;
  width: 40px;
}

.products__drop-menu-title {
  padding-right: 30px;
  flex: 1;
}

.products__drop-menu-count {
  font-weight: 400;
}

.products__slide-arrows {
  display: flex;
  justify-content: space-between;
  top: 50%;
  position: absolute;
  width: 100%;
}
@media (max-width: 768px) {
  .products__slide-arrows {
    top: 20%;
  }
}

.products__slide-arrow {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.team__avatars {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: center;
}
@media (max-width: 768px) {
  .team__avatars {
    flex-direction: column;
  }
}

.team__avatar {
  flex: 1;
  position: relative;
}
@media (max-width: 768px) {
  .team__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__avatar-img {
  max-width: 220px;
  max-height: 290px;
}
@media (max-width: 768px) {
  .team__avatar-img {
    display: none;
  }
}

.team__triangle {
  width: 9px;
  height: 9px;
  background: url("../../img/triangle2.png") center center no-repeat;
}

.team__member-status {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 0;
  width: 100%;
  padding-right: 28px;
  overflow: hidden;
  position: absolute;
}

.team__member-block {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.team__member-block-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.team__member {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.team__member-name {
  font-size: 1.4rem;
  font-weight: 700;
  color: #292929;
}

@media (max-width: 768px) {
  .active .team__member {
    order: -1;
  }
}

.team__avatars--mobile {
  display: none;
}

.active .team__avatar-img {
  display: block;
}

@media (max-width: 768px) {
  .active .team__member-status {
    position: static;
    height: 100%;
  }
}

.modal {
  display: none;
}
.modal.error-modal.modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal.fancybox-buttons {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content {
  margin-bottom: 15px;
  color: #000;
}

.player__elem {
  height: 405px;
  width: 660px;
}

.player__controls {
  width: 660px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404040;
}

.player-section__container {
  display: flex;
  justify-content: center;
}

.player__start {
  background: inherit;
  border: none;
  width: 24px;
  height: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.player__start-button {
  -o-object-fit: cover;
     object-fit: cover;
}

.player__playback-range {
  width: 90%;
  margin-left: 17px;
}

.player__duration {
  display: flex;
  justify-content: space-between;
  width: 24%;
  margin-right: 17px;
}

.player__playback {
  flex: auto;
}

.products-menu-section {
  background: url("../../img/slide1.jpg") center center/cover no-repeat;
  position: relative;
  color: #fff;
}

.products-menu-section-title {
  color: #fff;
  position: absolute;
  top: 30px;
  left: 40px;
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  width: 207px;
}
.products-menu__content {
  background: rgba(47, 50, 52, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  transition: width 0.7s;
  flex: 1;
}
.products-menu__container {
  padding: 40px 73px 45px 26px;
}
.products-menu__title {
  position: relative;
  width: 205px;
}

.products-menu-text {
  position: absolute;
  bottom: 1%;
  left: 4%;
  font-size: 48px;
  font-weight: 700;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  text-orientation: upright;
}

.products-menu-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-menu__item {
  display: flex;
}

.products-menu__close {
  background: inherit;
  border: none;
  top: 20px;
  right: 20px;
}

.products-menu__close-svg {
  height: 20px;
  width: 20px;
  fill: #fff;
}/*# sourceMappingURL=index.css.map */